.acheter-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    font-family: Arial, sans-serif;
  }
  
  .acheter-container h2 {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .commande-card {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .commande-card h3 {
    margin-top: 0;
  }
  
  .commande-card ul {
    list-style: none;
    padding-left: 0;
  }
  
  .commande-card li {
    padding: 0.2rem 0;
  }
  
  
  .panier-vide-icon {
    margin-bottom: 20px;
    color: grey;
  }
  
  .panier-vide-message {
    font-size: 1.8rem;
    font-weight: bold;
  }